{{ define "main" }}
  <h1>{{ .Title }}</h1>

Parent city: 
{{ with .Parent }}
  <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
{{ end }}
<br>
put the logo here:

{{ with .Resources.GetMatch "logo.jpg" }}
  <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
{{ else }}
  {{ with .Parent.Resources.GetMatch "logo.jpg" }}
    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
  {{ end }}
{{ end }}

  {{ .Content }}
 put the speaker image here:
<br>
 {{/*  {{ $image := .Resources.Get "program/images/rainbow-dash.jpg" }}  */}}
 {{ with .Resources.GetMatch "program/images/rainbow-dash.jpg" }}
  <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
{{ end }}

PAGE RANGE <Br>
  {{ range .Pages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}
<div><hr><small>this is a LIST event page</small></div> 
{{ end }}
